$percentRadius: 50px;
$navbar_font_color: #757575;
$navbar_header_fontsize : 18px;
$navbar_header_fontWeight : bolder;
$navbar_header_marginbottom : 15px;
$navbar_skill_fontsize : 15px;
$navbar_skill_fontweight : normal;
$section_header_fontsize : 30px;
$section_header_color : #757575;
$section_header_fontweight : 400;
$section_element_header_fontweight : bolder;
$section_element_header_fontsize : 18px;
$section_element_header_color : #757575;
$section_element_date_color : #009688;
$section_element_date_fontweight : 400;
$section_element_date_fontsize : 16px;
